h1, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 5px;
}

div.entry{
    margin-top: 16px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}